.VueCarousel {
	height: inherit;
	
	.VueCarousel-pagination {
		position: relative;
		bottom: 0;

		.VueCarousel-dot-container {
			position: absolute;
			bottom: 3rem;
			left: 6rem;
			text-align: left;
		}
	}
}

.offer__product {
	height: 450px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	.offer__product__image__body {
		width: 100%;
		height: 100%;
		font-size: 1rem;
		color: #222;
		font-weight: 300;
		font-family: inherit;

		.offer__product__title {
			color: red;
			font-size: 1.3rem;
			font-weight: bold;
			padding-top: 6rem;
		}

		.offer__product__content {
			padding-top: 1rem;
		}
	}
}

.offer__product__image {
	height: inherit;
	width: 100%;
	display: flex;

	&.is-covered {
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}
}
