.app__header {
  // display: flex;
  // align-items: center;
  color: #000;
  padding: 4rem 0;
  // justify-content: space-between;
}


.app__header__logo {

  // align-items: flex-start;
  padding: 1rem;

  a {

    color: #000;
  }
}

.app__header__contact-info {
  
  display: flex;
  color: #000;
  padding-top: .7rem;
} 


.app__header__contact-info__list--end {
  margin-left: 3rem;
 
}